<!DOCTYPE html>
<html>
<nav>
<ul id="MasterTest" style="color:white">
  <th id="test1"><a style="color:aqua" routerLink="app-home" routerLinkActive="active" ariaCurrentWhenActive="page" > Home </a></th>
  <th id="test2"><a style="color:hotpink" routerLink="app-albums" routerLinkActive="active" ariaCurrentWhenActive="page" > Albums </a></th>
  <th  id="test3"><a style="color:crimson" routerLink="app-about" routerLinkActive="active" ariaCurrentWhenActive="page"> About </a></th>
</ul>
</nav>
<div id="header">
  <h1>The Beatles</h1>

</div>
</html>
<!-- <app-about></app-about> -->
<router-outlet></router-outlet>
<!-- <app-albums></app-albums> -->
<!-- <app-home></app-home> -->
